

.pictures {
    flex: 4;
    justify-content: center;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color1);

}

/* First Project is bigger */
.container-big {
    flex: 0 0 600px;
    border: solid var(--color3) 5px;
    margin: 4px;

}
/* Rest of the projects are the same size */
.container {
    flex: 0 0 300px;
    border: solid var(--color3) 5px;
    margin: 4px;

}

.image-big {
    width: 100%;
    opacity: 30%;
    height: 100%;
    object-fit: fill;
    position: relative;

}

.image-small {
    width: 100%;
    opacity: 30%;
    height: 100%;
}

img:hover {
    opacity: 100%;  
}

.container-big:hover, .container:hover{
    box-shadow: 10px 10px 10px gray;
}

.bottomleft {
    position: relative;
    bottom: 50px;
    width:fit-content;
    background-color: var(--color3);
    color: var(--color1);
}
main a {
    text-decoration: none;
}